# ============================================================
# ANDROID
# ============================================================
*.iml
**/.gradle/
**/local.properties
**/.idea/
**/.externalNativeBuild/
**/.cxx/
**/captures/
**/build/
**/google-services.json

# ============================================================
# WEB / NODE
# ============================================================
**/node_modules/
**/.env
**/.env.local
**/.env.*.local
**/dist/
**/.firebase/
/web/firebase-tools-instant-win.exe

# ============================================================
# OS / EDITORS
# ============================================================
.DS_Store
Thumbs.db
*.swp
*.swo
